body{
    margin: 25px;
    background-color: rgb(0,0,0);
    font-family: Overpass Mono;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://i.ytimg.com/vi/4l6J5jhRgos/maxresdefault.jpg");
    background-repeat: no-repeat;
    position: relative;
}

h1{
    margin: 1px;
    color: white;
    text-align: center;
}

h2 {
    margin: 1px;
    color: white;
    align-self: center;
}

h3{
    margin: 1px;
    color: white;
    align-self: center;
}

h5{
    margin: 1px;
    color: white;
    text-align: center;

}

.borders{
    border: 2px;
    border-style: inset;
    border-radius: 10%;
    border-color: white;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: safe;
}

div.profile img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border-style: solid;
    border-width: medium;
    border-color: wheat;
    box-shadow: burlywood -1px -1px 4px;

}

header{
    /* border-style: solid; */
    /* color: darkgrey; */
    /* background-color: gray; */

    
}

.link-Color{
    color: white;
    
}
